body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
img{
    max-height: 40vh;
    max-width: 100%;
}
.content-wrapper{
    height: 90vh;
    max-width: 100%;
    background: transparent linear-gradient(180deg, #94D99D 0%, #808080 100%) 0% 0% no-repeat padding-box;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}

.logo{
    text-align: center;
}

.login-container{
    padding-bottom: 70px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 53%;
    margin: 0 auto;

    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 31px;
}

button{
    background: #55D0B6 0% 0% no-repeat padding-box;
    border-radius: 27px;
    width: 30%;
    border: none;
    color: grey;
    margin: 1em;
    line-height: 2.5em;
    text-transform: uppercase;

}
button:hover{
    cursor: pointer;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    /*padding: 30px 0px;*/
}
footer a{
    text-decoration: none;
    margin-right: 4px;
    color: blue;
}

@media only screen and (max-device-width: 420px){
    *{
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }
    form{
        margin:auto;
    }

    img{
        height: 7em;
        margin: 2em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav{
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #94D99D 0%, #808080 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 80vw;
}

a {
    text-decoration: none;

    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid white;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.72px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}
li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa,
.fas {
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-photo {
    background: cornflowerblue no-repeat padding-box;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.add-photo > i {
    padding: 1em;
}

.search-bar{
    width: 70%;
}

.search-bar>form>input {
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid darkgray;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    color: gray;
    margin: 0;
    box-sizing: border-box;
}